<!doctype html>
<!--
Yusuf Khan 400565596
Feb 02, 2025
Web Layout Assignment html page
-->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Layout Assignment</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <div id="headerwidget">
                <div class="widgetimg">
                    <img src="images/hWidget.png" width="400px" class="image1" alt="Widget image">
                    <img src="images/vWidget.png" class="image2" alt="Widget image">
                </div>
                <div class="widgettext">
                    <a href="https://example.com" target="_blank">Example Link</a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="widgetgroup" id="wg1">
                <div class="widget w1">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w2">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w3">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w4">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
            </div>
            <div class="widgetgroup" id="wg2">
                <div class="widget w1">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w2">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w3">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1" alt="Widget image">
                        <img src="images/vWidget.png" class="image2" alt="Widget image">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
                <div class="widget w4">
                    <div class="widgetimg">
                        <img src="images/hWidget.png" class="image1">
                        <img src="images/vWidget.png" class="image2">
                    </div>
                    <div class="widgettext">
                        <a href="https://example.com" target="_blank">Example Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>